body{
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     /* background-image: url("geek.jpg");  */
   /* background-color:aqua; */
    background-repeat: no-repeat;
    height: 50%;
    margin: 50px;
    margin-bottom: 0px;
}
nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    border: 1px;
    background-color: deepskyblue;
     line-height: 45px; 
}
nav ul li {
    display: flex;
    flex-direction: row;
    margin-right: 0%;
    margin-left: 50px;
    border: 255px;
    text-decoration: none;
    transform: scale(1.1); 
}
li a:hover{
background-color: white;

transform: skewX(5deg);

}
a:link{
    text-decoration: none;
}
div h1{
    text-align: center;
    
}
.container{
    margin: 65px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px;
    margin-left: 25%;
    margin-right: 25%;
   
    
}
div > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    border-radius: 15px;
    background-color: deepskyblue;
    /* margin: 15px;  */
     margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 12px;
    opacity: 0, 0 ,0, 0.5px;
    padding-left: 35%;
    padding-right: 35%;
    transform: skewX(5deg);
    transition-property: all;
    transition-duration: 0.2ms;
    rotate: 12px;




}
div > ul:hover{

background-color: deepskyblue;
transform: scale(1.1); 
transform: skewX(5deg);
transform: scale(1.1);

}
ul >a{
    display: flex;
   justify-content: center;
   padding: 4px;
   font-size: large;
 
}
a:hover{
    background-color: aliceblue;
    transform: scale(1.1); 
    transform: skewX(5deg);
    
}

#footer{
    display: flex;
    flex-direction: row;
    background-color: deepskyblue;
    margin-bottom: 1px;
    padding-left: 75px;
    
}